

  /* Centered text */
  .centered {
    left: 15%;
    top: 30%;
    position: absolute;
    color: rgb(173, 234, 255);
    opacity: .8;
  }

  .centered h1 {
      font-size: 150px;
      margin-left: 100px;
      line-height: 90px;
      font-style: italic;
      font-weight: 500;  
  }

  .centered h2 {
    font-size: 90px;
    font-weight: 500;  
}
.centered h3 {
    font-size: 30px;
    margin-left: 50%;
    color: lightslategray;
    font-weight: 500;  
}

.centered img{
    top: 0;
    right: -150%;
    max-width: 100%;
    max-height: 200%;
    position: absolute;
    z-index: 1;
}

@media (max-width: 1024px){
    .centered h1{
        margin-top: -80%;
        font-size: 70px;
        margin-left: 60px;
    }
}

@media (max-width: 1024px){
    .centered h2{
        font-size: 40px;
        margin-left: 2px;
    }
}

@media (max-width: 1024px){
    .centered h3{
        font-size: 30px;
        margin-left: 2%;
        color: rgb(189, 222, 255);
        font-weight: 500; 
    }
}

.pic{
    display: flex;
    position: relative;
}

@media (max-width: 1024px){
    .pic{
        display: flex;
    }
}

@media (max-width: 1024px){
    .centered img{
        margin-bottom: 20%;
        right: -30%;
        max-width: 100%;
        max-height: 200%;
        position: absolute;
        z-index: 1;
    }
}

@media (max-width: 1024px){
    .bottom_centered{
        margin-left: -35%;
        margin-bottom: 60%;
        position: absolute;
        color: rgb(39, 40, 41);
        opacity: .9;
    }
}

@media (max-width: 1024px){
    .bottom_centered h1{
        font-size: 60px !important;
        margin-left: 100px;
        line-height: 50px;
    }
}

@media (max-width: 1024px){
    .bottom_centered h2{
        font-size: 60%
    }
}

@media (max-width: 1024px){
    .pic{
        display: flex;
    }
}

@media (max-width: 1024px){
    .btn1{
        position: absolute;
        margin-top: 110%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 70px;
        text-align: center;
        line-height: 70px;
        color: #fff;
        font-size: 21px;
        text-transform: uppercase;
        text-decoration: none;
        box-sizing: border-box;
        background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 400%;
        border-radius: 40px;
        z-index: 1;
        }
}



.bottom_centered{
    left: 65%;
    bottom: 10%;
    position: absolute;
    color: rgb(39, 40, 41);
    opacity: .9;
}

.bottom_centered h1{
    font-size: 100px;
    margin-left: 100px;
    line-height: 50px;
}

.bottom_centered h2{
    font-size: 60px;
}

.btn1{
    position: absolute;
    top: -45%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 21px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    z-index: 1;
}

.btn1:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%''
    }
    100% {
        background-position: 400%;
    }
}

.btn1:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}

.btn1:hover:before{
    filter: blur(20px);
    opacity: 1;
}

.main{
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
}

.tone1{
    background-color: #f7f7f6;
    height: 100vh;
    flex: 1;
}

.tone2{
    background-color: #f9e2ba;
    height: 100vh;
    position: relative;
    flex: 1;
}

.tone2 img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: -15rem;
    transform: translateY(-50%);
}

.product_info{
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_info h1{
    font-size: 5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: center;
}

.product_info p{
    font-size: 1.8rem;
    margin-bottom: 4rem;
}

.product_info h2{
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.click{
    display: flex;
    padding: 1rem;
    color: #f7f7f6;
    font-size: 1rem;
    font-weight: 600;
    transition: all .5s;
}

.info_btns{
    display: flex;
}

.discover_btn{
    background-color: #a4a4a4;
}

.cart_btn{
    background-color: #141110;
}

.discover_btn:hover,
.cart_btn:hover{
    box-shadow: 3px 1rem 2rem rgba(0, 0, 0.3);
    transform: translateY(-1rem);
}

@media screen and (max-width: 1200px){
    .tone2 img{
        left: -8rem;
    }

    .product_info h1{
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    .product_info p{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .product_info h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .click{
        padding: 1.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px){

    .tone2 img{
        left: -5rem;
    }
}

@media screen and (max-width: 600px){

    .tone2 img{
        left: -2.5rem;
    }

    .product_info p{
        font-size: 1.2rem;
    }

    .click{
        padding: 1rem;
    }

}

@media screen and (max-width: 400px){

    .tone2 img{
        left: -1rem;
    }

    .product_info h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .product_info p{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .product_info h2{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .click{
        padding: .7rem;
        font-size: .8rem;
    }
}